<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- загружаем содержимое файла musicPlayer.properties-->
    <context:property-placeholder location="classpath:musicPlayer.properties" />


    <!-- создали 3 бина каждого вида музыки -->
    <bean id="classicalMusicBean"
          class="ru.fil.springcourse.ClassicalMusic">
    </bean>
    <bean id="rockMusicBean"
          class="ru.fil.springcourse.RockMusic">
    </bean>
    <bean id="hipHopMusicBean"
          class="ru.fil.springcourse.HipHopMusic">
    </bean>

    <!-- по стандарту scope у бина стоит singleton (каждый раз при вызове getBean() возвращается 1 объект) - подходит для неизменяемых состояний
     если пропишем scope="prototype", то при каждом вызове getBean() возвращаются разные объекты - подходит для изменяемых состояний-->
    <bean id="musicPlayer"
          class="ru.fil.springcourse.MusicPlayer"
          scope="prototype">
        <property name="name" value="Simple music player"/>
        <property name="volume" value="66"/>
    </bean>


</beans>
